header {
    display: flex;
    justify-content: center;
    margin:auto;
}

nav{
    max-width: 10%;
    background-color: antiquewhite;
}

a {
    text-decoration: none;
}

span {
    width: 100px;
    height: 100px;
    border: 1px;
    border-radius: 50px;
    border-color: black;
}

body {

}